@font-face {
    font-family: "lumina-normal";
    src: url("snowspire-lumina.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: "lumina-heading";
    src: url("snowspire-lumina.woff2") format("woff2");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: "lumina-footer";
    src: url("snowspire-lumina.woff2") format("woff2");
    font-display: swap;
    font-style: normal;
    font-weight: 400;
  }